In [45]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt # plot
# import seaborn as sns

In [46]:
# Read the dataset
df = pd.read_csv("weatherAUS.csv")
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

# Data Preprocessing

In [47]:
# Initial exploration
df.describe().T

,count,mean,std,min,25%,50%,75%,max
MinTemp,143975.0,12.194034,6.398495,-8.5,7.6,12.0,16.9,33.9
MaxTemp,144199.0,23.221348,7.119049,-4.8,17.9,22.6,28.2,48.1
Rainfall,142199.0,2.360918,8.478060,0.0,0.0,0.0,0.8,371.0
Evaporation,82670.0,5.468232,4.193704,0.0,2.6,4.8,7.4,145.0
Sunshine,75625.0,7.611178,3.785483,0.0,4.8,8.4,10.6,14.5
WindGustSpeed,135197.0,40.035230,13.607062,6.0,31.0,39.0,48.0,135.0
WindSpeed9am,143693.0,14.043426,8.915375,0.0,7.0,13.0,19.0,130.0
WindSpeed3pm,142398.0,18.662657,8.809800,0.0,13.0,19.0,24.0,87.0
Humidity9am,142806.0,68.880831,19.029164,0.0,57.0,70.0,83.0,100.0
Humidity3pm,140953.0,51.539116,20.795902,0.0,37.0,52.0,66.0,100.0
Pressure9am,130395.0,1017.649940,7.106530,980.5,1012.9,1017.6,1022.4,1041.0
Pressure3pm,130432.0,1015.255889,7.037414,977.1,1010.4,1015.2,1020.0,1039.6
Cloud9am,89572.0,4.447461,2.887159,0.0,1.0,5.0,7.0,9.0
Cloud3pm,86102.0,4.509930,2.720357,0.0,2.0,5.0,7.0,9.0
Temp9am,143693.0,16.990631,6.488753,-7.2,12.3,16.7,21.6,40.2
Temp3pm,141851.0,21.683390,6.936650,-5.4,16.6,21.1,26.4,46.7

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [74]:

pd.options.display.max_rows=None
pd.options.display.max_columns=None
dfXX=pd.DataFrame(None,index=[df.columns])
dfXX['dtype'] = dict(df.dtypes).values()
dfXX.T

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
dtype,object,object,float64,float64,float64,float64,float64,object,float64,object,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,object,object

In [49]:
# Calculate the percentages of missing values
null_percentages = df.isnull().sum() / len(df)
null_percentages

Date             0.000000
Location         0.000000
MinTemp          0.010209
MaxTemp          0.008669
Rainfall         0.022419
Evaporation      0.431665
Sunshine         0.480098
WindGustDir      0.070989
WindGustSpeed    0.070555
WindDir9am       0.072639
WindDir3pm       0.029066
WindSpeed9am     0.012148
WindSpeed3pm     0.021050
Humidity9am      0.018246
Humidity3pm      0.030984
Pressure9am      0.103568
Pressure3pm      0.103314
Cloud9am         0.384216
Cloud3pm         0.408071
Temp9am          0.012148
Temp3pm          0.024811
RainToday        0.022419
RainTomorrow     0.022460
dtype: float64

In [50]:
# Get rid of the columns which have more than 35% missing data
null_features = null_percentages[null_percentages > 0.35].index
df_dropped = df.drop(null_features, axis = 1)
df_dropped.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [51]:
# Get rid of the pointless column
df_dropped = df_dropped.drop(['Date'], axis = 1)
df_dropped.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [52]:
# Get rid of the null rows
df_dropped = df_dropped.dropna()
df_dropped.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [68]:
# Recheck the number of count and null for 'df_dropped'
count_num = pd.DataFrame(df_dropped.count())
null_num = pd.DataFrame(df_dropped.isnull().sum())
df_dropped_describe = pd.concat([count_num, null_num], axis = 1)
df_dropped_describe.columns = ['count', 'null']
df_dropped_describe['dtype'] = dict(df_dropped.dtypes).values()
df_dropped_describe

                count  null    dtype
Location       112925     0   object
MinTemp        112925     0  float64
MaxTemp        112925     0  float64
Rainfall       112925     0  float64
WindGustDir    112925     0   object
WindGustSpeed  112925     0  float64
WindDir9am     112925     0   object
WindDir3pm     112925     0   object
WindSpeed9am   112925     0  float64
WindSpeed3pm   112925     0  float64
Humidity9am    112925     0  float64
Humidity3pm    112925     0  float64
Pressure9am    112925     0  float64
Pressure3pm    112925     0  float64
Temp9am        112925     0  float64
Temp3pm        112925     0  float64
RainToday      112925     0   object
RainTomorrow   112925     0   object

In [54]:
# Group the data by numerical and categorical variables
categorical_var = df_dropped[list(df_dropped_describe.loc[df_dropped_describe['dtype']=='object'].index)]
numerical_var = df_dropped[list(df_dropped_describe.loc[df_dropped_describe['dtype']=='float64'].index)]

In [55]:
# Recheck the number of count for 'numerical_var'
count_num_1 = pd.DataFrame(numerical_var.count())
count_num_1.columns = ['count']
count_num_1['dtype'] = dict(numerical_var.dtypes).values()
count_num_1

                count    dtype
MinTemp        112925  float64
MaxTemp        112925  float64
Rainfall       112925  float64
WindGustSpeed  112925  float64
WindSpeed9am   112925  float64
WindSpeed3pm   112925  float64
Humidity9am    112925  float64
Humidity3pm    112925  float64
Pressure9am    112925  float64
Pressure3pm    112925  float64
Temp9am        112925  float64
Temp3pm        112925  float64

In [56]:
# Recheck the number of count for 'categorical_var'
count_num_1 = pd.DataFrame(categorical_var.count())
count_num_1.columns = ['count']
count_num_1['dtype'] = dict(categorical_var.dtypes).values()
count_num_1

               count   dtype
Location      112925  object
WindGustDir   112925  object
WindDir9am    112925  object
WindDir3pm    112925  object
RainToday     112925  object
RainTomorrow  112925  object

In [57]:
# Check the numerical variables
numerical_var.head()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5
4,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7

In [58]:
# Check the categorical variables
categorical_var.head()

  Location WindGustDir WindDir9am WindDir3pm RainToday RainTomorrow
0   Albury           W          W        WNW        No           No
1   Albury         WNW        NNW        WSW        No           No
2   Albury         WSW          W        WSW        No           No
3   Albury          NE         SE          E        No           No
4   Albury           W        ENE         NW        No           No

In [59]:
# Scale the numerical variables
from sklearn.preprocessing import StandardScaler
numerical_var = StandardScaler().fit_transform(numerical_var)
numerical_var.shape

(112925, 12)

In [60]:
# Transform the categorical variables into numbers
from sklearn.preprocessing import LabelEncoder
Arrays = []
for col in list(categorical_var):
    Encoder = LabelEncoder()
    Encoder.fit(categorical_var[col])
    Arrays.append(Encoder.transform(categorical_var[col]))
categorical_var = Arrays[0]
for i in range(len(Arrays)-1):
    categorical_var = np.vstack((categorical_var, Arrays[i+1]))
categorical_var = categorical_var.T
categorical_var.shape

(112925, 6)

In [61]:
# Regroup the data by explanatory variables and response variable
X_all = np.hstack((categorical_var[:,0:-1],numerical_var))
y = categorical_var[:,-1]

In [62]:
X_all.shape

(112925, 17)

In [63]:
y.shape

(112925,)

In [64]:
# Check the correlation of columns
c = pd.DataFrame(X_all, columns = list(df_dropped)[0:-1]).corr()
c

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday
Location,1.000000,0.032909,-0.019989,0.022470,-0.000757,-0.009515,-0.050913,-0.004546,0.085213,0.086070,0.084724,0.012638,0.043686,0.044653,0.058488,-0.035614,-0.055416
MinTemp,0.032909,1.000000,0.403542,0.601054,0.137906,-0.166074,-0.224415,0.044939,0.134843,0.023290,0.099502,0.071479,0.049654,-0.139715,-0.041799,-0.203700,-0.240127
MaxTemp,-0.019989,0.403542,1.000000,0.305955,0.174094,-0.066436,-0.248406,0.084177,0.025126,0.010127,0.077561,0.153097,0.174934,-0.027734,0.070185,-0.158258,-0.252886
Rainfall,0.022470,0.601054,0.305955,1.000000,0.126229,-0.168547,-0.178135,0.046577,0.134630,0.045438,0.092563,0.029611,-0.017852,-0.144080,-0.041820,-0.182641,-0.191912
WindGustDir,-0.000757,0.137906,0.174094,0.126229,1.000000,0.044605,-0.242983,0.497554,0.154943,0.099773,0.087702,0.378306,0.386619,-0.188677,-0.104902,-0.113986,-0.248650
WindGustSpeed,-0.009515,-0.166074,-0.066436,-0.168547,0.044605,1.000000,0.728942,0.103807,0.159176,0.150577,0.146078,-0.218312,0.026733,-0.433645,-0.448298,0.898785,0.704477
WindDir9am,-0.050913,-0.224415,-0.248406,-0.178135,-0.242983,0.728942,1.000000,-0.076825,0.056742,-0.006114,0.013976,-0.517188,-0.497679,-0.312597,-0.411360,0.884925,0.984357
WindDir3pm,-0.004546,0.044939,0.084177,0.046577,0.497554,0.103807,-0.076825,1.000000,0.130388,0.085376,0.060288,0.238756,0.259652,-0.167595,-0.126520,0.007418,-0.080376
WindSpeed9am,0.085213,0.134843,0.025126,0.134630,0.154943,0.159176,0.056742,0.130388,1.000000,0.589735,0.679223,-0.183729,-0.020903,-0.445046,-0.399751,0.124733,0.018325
WindSpeed3pm,0.086070,0.023290,0.010127,0.045438,0.099773,0.150577,-0.006114,0.085376,0.589735,1.000000,0.499372,-0.221500,-0.017875,-0.201550,-0.150433,0.089493,-0.019280
Humidity9am,0.084724,0.099502,0.077561,0.092563,0.087702,0.146078,0.013976,0.060288,0.679223,0.499372,1.000000,-0.093364,0.053916,-0.284036,-0.244390,0.126778,-0.011471
Humidity3pm,0.012638,0.071479,0.153097,0.029611,0.378306,-0.218312,-0.517188,0.238756,-0.183729,-0.221500,-0.093364,1.000000,0.684373,0.115345,0.168052,-0.464487,-0.510028
Pressure9am,0.043686,0.049654,0.174934,-0.017852,0.386619,0.026733,-0.497679,0.259652,-0.020903,-0.017875,0.053916,0.684373,1.000000,-0.035468,0.046073,-0.202107,-0.547120
Pressure3pm,0.044653,-0.139715,-0.027734,-0.144080,-0.188677,-0.433645,-0.312597,-0.167595,-0.445046,-0.201550,-0.284036,0.115345,-0.035468,1.000000,0.960248,-0.400133,-0.270662
Temp9am,0.058488,-0.041799,0.070185,-0.041820,-0.104902,-0.448298,-0.411360,-0.126520,-0.399751,-0.150433,-0.244390,0.168052,0.046073,0.960248,1.000000,-0.453075,-0.378574
Temp3pm,-0.035614,-0.203700,-0.158258,-0.182641,-0.113986,0.898785,0.884925,0.007418,0.124733,0.089493,0.126778,-0.464487,-0.202107,-0.400133,-0.453075,1.000000,0.859910
RainToday,-0.055416,-0.240127,-0.252886,-0.191912,-0.248650,0.704477,0.984357,-0.080376,0.018325,-0.019280,-0.011471,-0.510028,-0.547120,-0.270662,-0.378574,0.859910,1.000000

In [65]:
# Find the pairs of columns which have a strong correlation (more than 0.95) with each other
row_num_and_col_num = []
row_name_and_col_name = []
c = np.array(c)
for i in range(len(c)):
    for j in range(i+1, len(c)):
        if abs(c[i,j]) >= 0.95:
            row_num_and_col_num.append((i,j))
            row_name_and_col_name.append((list(df_dropped)[i],list(df_dropped)[j]))
row_name_and_col_name

[('WindDir9am', 'RainToday'), ('Pressure3pm', 'Temp9am')]

In [66]:
# Get rid of the columns which have a strong correlation with others
cols = list(range(0, row_num_and_col_num[0][0])) + list(range((row_num_and_col_num[0][0]+1), row_num_and_col_num[1][1])) + list(range((row_num_and_col_num[1][1]+1), len(c)))
X = X_all[:,cols]
X.shape

(112925, 15)

# Models

In [20]:
# Split the dataset to train set and test set
from sklearn.model_selection import train_test_split
train, test, train_labels, test_labels = train_test_split(X,
                                                          y,
                                                          test_size=0.33,
                                                          random_state=42)

In [21]:
# import all the models
from sklearn.naive_bayes import GaussianNB
from sklearn import neighbors
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
methods = [GaussianNB(), neighbors.KNeighborsClassifier(), tree.DecisionTreeClassifier(criterion='gini'), RandomForestClassifier(), GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)]
methods_names = ['Naive-Bayes classifier', 'k-nearest neighbors algorithm', 'decision trees', 'random forests', 'GBDT']

# run all the models in a loop
for i in range(len(methods)):
    
    # model initialization
    model = methods[i]

    # model fitting & training
    model.fit(train, train_labels)

    # model prediction
    preds = model.predict(test)

    # model evaluation
    print('This is the result of ', methods_names[i], ':', sep="")
    print('The accuracy rate of is ', 100 * accuracy_score(test_labels, preds), '%!', sep="")
    print('The precision rate of is ', 100 * precision_score(test_labels, preds), '%!', sep="")
    print('The recall rate of is ', 100 * recall_score(test_labels, preds), '%!', sep="")
    print('The f1 score of is ', 100 * f1_score(test_labels, preds), '%!', sep="")
    print('----------------------------------------------------------------------')

This is the result of Naive-Bayes classifier:
The accuracy rate of is 80.76262544947137%!
The precision rate of is 58.189366546136334%!
The recall rate of is 51.77550047664442%!
The f1 score of is 54.795384324358395%!
----------------------------------------------------------------------
This is the result of k-nearest neighbors algorithm:
The accuracy rate of is 82.67053077872592%!
The precision rate of is 69.4410936871733%!
The recall rate of is 41.158245948522406%!
The f1 score of is 51.683375729462824%!
----------------------------------------------------------------------
This is the result of decision trees:
The accuracy rate of is 78.52466054848925%!
The precision rate of is 52.28420434527305%!
The recall rate of is 53.05052430886559%!
The f1 score of is 52.664576802507845%!
----------------------------------------------------------------------
This is the result of random forests:
The accuracy rate of is 85.51763001127033%!
The precision rate of is 77.19266388233159%!
The recall rate of is 50.65538608198285%!
The f1 score of is 61.169868335851504%!
----------------------------------------------------------------------
This is the result of GBDT:
The accuracy rate of is 84.94338002468739%!
The precision rate of is 75.09474824038982%!
The recall rate of is 49.58293612964728%!
The f1 score of is 59.72870164357998%!
----------------------------------------------------------------------